.profile-page {
    .row:nth-child(2) {
        padding: 2rem;

        .form-floating {
            margin-bottom: 1rem;
        }
    }

    .row:nth-child(3) {
        padding-bottom: 2rem;

        .table, .alert {
            margin-top: 1.5rem;
        }
    }
}